name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
           dist/github-snake.svg?color_snake=#b87333&color_dots=#f5e9d3,#e8d3b0,#d4b07a,#b98a4c,#8a5a2e
           dist/github-snake-dark.svg?color_snake=#a3c76d&color_dots=#1b1a17,#3a2f28,#6b4f3a,#b68b4c,#e8d9b5


      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add dist
          git commit -m "update snake animation" || echo "No changes to commit"
          git push
