name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
           dist/github-snake.svg?color_snake=#00aced&color_dots=#ffffff,#d9d9d9,#a6a6a6,#5c5c5c,#171717
           dist/github-snake-dark.svg?color_snake=#4ec7ff&color_dots=#0a0a0a,#1e1e1e,#3a3a3a,#777777,#ededed



      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add dist
          git commit -m "update snake animation" || echo "No changes to commit"
          git push
